@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC');
body {background-image: url(https://pre00.deviantart.net/deb5/th/pre/f/2012/070/f/c/asia_photo_collage_2_by_eden16-d4sekdq.jpg); padding: 300px;}
h1 {text-align: center; color: white; font-size: 800%; position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); font-family: 'IM Fell English SC', serif;}
button{font-size: 300%; text-align: center;}