body {background-image: url(https://wallpaperstock.net/wallpapers/thumbs1/51872wide.jpg); background-size: cover;}
h1 {text-align: center; color: white; font-size: 800%; position: absolute; top: 40%; left: 50%; transform: translateX(-50%) translateY(-50%); font-family: 'Shadows Into Light Two';}
button{font-size: 300%; text-align: center;}