body {background-image: url(https://wallsheaven.com/photos/C20793812/400/vintage-travel-collage-background.jpg); padding: 300px;}
h1 {text-align: center; color: balck; font-size: 800%; position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);}
button{font-size: 300%;}




