@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

body { 
background-image: url(https://www.hdwallpapers.in/download/beynac_dordogne_river_france-normal.jpg); background-size: cover; background-repeat: no-repeat;}


h1 {font-size: 600%; 
  text-align: center; 
  font-family: 'Great Vibes', cursive; 
  position: relative; color: black; text-shadow: 7px 6px white;}

h2 { font-size: 300%;
  font family:'Great Vibes', cursive; 
 color: white; 
}

ul {font-size: 200%; color: white;}