@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');
body {
   background-image: url("https://images5.alphacoders.com/320/320285.jpg");
   background-size: cover;
   background-repeat: no-repeat;
}
h1 {
   font-size: 500%;
   text-align: center;
   color: white;
   font-family: "Racing Sans One", cursive;
   top: 150%;
   text-shadow: gray 6px 5px;
}
#b1 {
  position: absolute;
  margin-left: 287px; 
  margin-top: 140px;
}

#b2 {
  position: absolute;
  margin-left: 428px; 
  margin-top: 400px;
}

#b3 {
  position: absolute;
  margin-left: 738px; 
  margin-top: 280px;
}

#b4 {
  position: absolute;
  margin-left: 690px; 
  margin-top: 95px;
}

#b5 {
  position: absolute;
  margin-left: 1220px; 
  margin-top: 435px;
}

#b6 {
  position: absolute;
  margin-left: 990px; 
  margin-top: 60px;
}



